.Row {
    display: table;
    width: 100%; 
    border-spacing: 10px;
}
.Column {
    display: table-cell;
}
.top-contributors-header{
    margin-left: 20%;
}
.contributors-list{
    height: 30%; 
    overflow-y: scroll;
}
.contributor-item{
    background-color: aliceblue; 
    border-bottom: 0.5px solid grey;
}
.repo-details{
    background-color: lightgreen; 
    border: 0.5px solid grey;
    margin-top: 50px; 
    margin-bottom: 50px; 
    padding: 5px;
}
.org-details{
    background-color: lightgreen; 
    border: 0.5px solid grey; 
    padding: 5px;
}